# ---------- WordPress ----------
WP_DOMAIN=construwx.in
WP_TITLE=ConstruWX

# ---------- Database ----------
DB_NAME=construwx
DB_USER=construwx
DB_PASSWORD=change_this
DB_ROOT_PASSWORD=change_this_root

# ---------- WordPress ----------
WP_DB_PREFIX=wp_

# ---------- Timezone ----------
TZ=America/Denver

# ---------- Redis ----------
REDIS_PASSWORD=change_this_redis